ion-col {
    ion-card {
        border-radius: 5px;
        height: 280px;
        ion-card-header {
            ion-card-subtitle {
                color: #007AE9;
            }
        }
        button {
            margin-top: 15px;
            margin-left: 65px;
            width: 80px;
            height: 25px;
            background-color: #2ECC71;
            color: #FFF;
            
        }
    }
}