<ion-header>
  <ion-toolbar>
    <ion-title>Detalles de productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid >
    <ion-row>
      <ion-col>
        <div class="img-container">
          <img src="\assets\img\red.jpg" />
          <div class="icon">
            <ion-icon name="cart-outline"></ion-icon>
            <div class="text">
              <h1>Shopping</h1>
            </div>
          </div>
        </div>
      </ion-col>

      <ion-col *ngIf="product">
        <div class="text-container">
          <div>
            <h1 class="text1">Test</h1>
            <h1 class="text2">{{ product.name }}</h1>
            <h2 class="text3">{{ product.price | currency }}</h2>
          </div>
          <div class="description">
            <p>
              {{ product.description }}
            </p>
          </div>
          <div class="button">
            <ion-button color="dark">ADD TO CART</ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>